/*
	(C) RATE Web Design 2016. All rights reserved.
*/
.headerText {

	color: #FFF;
	font-size: 70px;
	font-weight: 300;
	font-family: "Source Sans pro";
	text-align: center;
	transition: padding-top, 0.2s;
	-webkit-transition: padding-top, 0.2s;
	-moz-transition: padding-top, 0.2s;
	-o-transition: padding-top, 0.2s;


}

.header {
	text-shadow: 3px 3px 5px #444;
	padding-top: 300px;
	background-color: #339;
	width: inherit;
	height: 600px;
	color: #FFF;
	font-size: 70px;
	font-weight: 300;
	font-family: "Source Sans pro";
	text-align: center;
	transition: padding-top, 0.2s;
	-webkit-transition: padding-top, 0.2s;
	-moz-transition: padding-top, 0.2s;
	-o-transition: padding-top, 0.2s;

}

.headerText:hover {

	padding-top: 30px;

}
.headerText2 {
	color: #44A;
	font-size: 60px;
	font-weight: 400;
	font-family: "Source Sans pro";
	text-align: center;
	text-shadow: 30px, 30px, #000;
}
.arrow {

	height: 90px;
	width: 90px;

	transition: height 0.2s, width 0.2s;
	-webkit-transition: height 0.2s, width 0.2s;
	-o-transition: height 0.2s, width 0.2s;
	-moz-transition: height 0.2s, width 0.2s;
}
.arrow:hover {

	height: 100px;
	width: 100px;

}

.whatBody {

	background-color: #E7E7E7;
	height: 800px;
	width: inherit;

}

.whatText {

	width: 90%;
	margin-left:5%;
	margin-right: 5%;
	background-color: #FFE;
	font-family: "Source sans pro";
	font-weight: normal;
	padding-top: 10px;
	border-width:10px;
	border-radius: 7px;
	padding-bottom: 10px;
	font-size: 18px;

}

.pad1 {

	height: 19px;

}

.whatP {

	margin-left: 5.5%;
	margin-right: 5.5%;

}

.contactBtn {

	background-color: #339;
	font-family: "Source sans pro";
	font-size: 50px;
	font-weight:bold;
	color: #FFF;
	text-align: center;
	padding-top: .3px;
	padding-left: .7px;
	padding-right: .7px;
	padding-bottom: .07px;
	border-width: 4px;
	border-radius: 3px;
	border-color: #339;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 25px;

	transition: transform: size .2s, opacity .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;

}

.contactBtn:hover {

	opacity: .94;
	-webkit-transform: scale(1.1);
	-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
}



.bestTitle {

	background-color: #7F7;
	color: #FFF;
	font-size: 70px;
	font-weight: 400;
	font-family: "Source Sans pro";
	text-align: center;
	margin: auto;
	width: 90%;
	border: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}
.best {

	background-color: #7F7;
	color: #FFF;
	font-size: 35px;
	font-weight: 300;
	font-family: "Source Sans pro";
	text-align: center;
	margin: auto;
	width: 90%;
	height: 75px;

	transition: height, .3s;
	-webkit-transition: height, .3s;
	-moz-transition: height, .3s;
	-o-transition: height, .3s;

}

.best:hover{height:200px;}


.easy {

	background-color: #FFE;
	color: #AAE;
	font-size: 35px;
	font-weight: 300;
	font-family: "Source Sans pro";
	text-align: center;
	margin: auto;
	width: 90%;
	z-index: -1;

	height: 92px;

	transition: height, .3s;
	-webkit-transition: height, .3s;
	-moz-transition: height, .3s;
	-o-transition: height, .3s;


}

.easy:hover{height:200px;}

.easyTitle {

	background-color: #FFE;
	color: #AAE;
	font-size: 70px;
	font-weight: 400;
	font-family: "Source Sans pro";
	text-align: center;
	margin: auto;
	width: 90%;
}
.dreamSite {

	height: 12px;
	margin: auto;
	width: 90%;
	background-color: #AAE;
	color: #339;
	font-size: 35px;
	font-weight: 300;
	font-family: "Source Sans pro";
	text-align: center;
	border: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;


		transition: height, .3s;
		-webkit-transition: height, .3s;
		-moz-transition: height, .3s;
		-o-transition: height, .3s;



}


.dreamSite:hover{height:100px;}
.dreamSiteTitle {

	background-color: #AAE;
	color: #EEE;
	font-size: 70px;
	font-weight: 300;
	font-family: "Source Sans pro";
	text-align: center;
	margin: auto;
	width: 90%;
	height: 60px;
	padding-bottom: 5px;


}
dreamSiteTitle:hover {

	padding-bottom: 0;

}

.textChangeOpaci {
	height: 100%
	width: 100%;
	padding-top: 30px;
	opacity: 0;
	transition: opacity, .2s;
	-webkit-transition: opacity, .2s;
	-o-transition: opacity, .2s;
	-moz-transition: opacity, .2s;

}

.textChangeOpaci:hover {opacity:1}
